body{
    margin: 0px;
    background-color: #F2EDE4;
    overflow-y: hidden;
    font-family:'Courier New', Courier, monospace;
}
.digitalClock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}
.menu{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCB3A4;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    color: #F2EDE4;
    margin: 2rem;
}

nav a:hover{
    color: #594432;
}

.myusername{
    position: absolute;
    bottom: 10px;
}